<div class=top>
  <div class=top_title>
    <div class=top_title_container>
        <img src="/assets/home.jpg" width="200"class="rounded mx-auto d-block" alt="homepicture">
      <h3 class= h3_title>お気に入りの珈琲が見つかる検索サイト</h3>
      <h1 class= h1_title>こそこそ珈琲実験室</h1>
      <input type="search"  placeholder="キーワードで検索" class= search_box>
      <input type="submit" class= search_button  value="検索">
    </div>
  </div>
</div>

<div class=search_container>
  <div class=country_search_text_container>
    <div class= country_search_view_text>
      <h2>Popular producing countries</h2>
        <h3>人気な生産国 </h3>
    </div>
  </div>
  <section class=search_image_container>
    <div class="card" style="width: 18rem;">
      <img src="/assets/Ethiopia.jpg" class="card-img-top" alt="エチオピア">
      <div class="card-body">
        <h5 class="card-title">エチオピア</h5>
        <p class="card-text">華やかな香りと果実のような酸味</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/Brazil.jpg" class="card-img-top" alt="ブラジル">
      <div class="card-body">
        <h5 class="card-title">ブラジル</h5>
        <p class="card-text">力強い苦味とほんのり甘い香り</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src= "/assets/Columbia.jpg" class="card-img-top" alt="コロンビア">
      <div class="card-body">
        <h5 class="card-title">コロンビア</h5>
        <p class="card-text">酸味と甘味の絶妙なバランス</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/assets/Indonesia.jpg" class="card-img-top" alt="インドネシア">
      <div class="card-body">
        <h5 class="card-title">インドネシア</h5>
        <p class="card-text">明るい酸味と花のような甘い香り</p>
      </div>
    </div>
  </section>
</div>